
html{
    margin: 0 auto;
}
body{
    margin: 0 auto;
    font-size: 14px;
    align-items: center;

}
.imagen-principal{
    color: white;
    width: 100%;
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-image: url(../images/COLE21-Encabeza-WEB.jpg);    
}
.imagen-principal2{
    color: white;
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-repeat: no-rtepeat;
    background-position:center;
    background-image: url(../images/Frente-COLEGIO.jpg);    
}
/* .sombreado{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;     */
}
.titulo-principal h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40vh;
    color: rgba(255,255,255,1);
    font-size: 6.5em;
    font-style: normal;
    font-weight: 100;
    text-transform: none;
    line-height: 1.0465;
    letter-spacing: normal;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.25);
    padding-left: 25%;
    padding-right: 25%;
}
.formacion h2 , h3{
    text-align: center;
}
.jumbotron{
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
    background-color: white !important;
}
.listado ul li{
    font-size: 1.5em;
    font-weight: bold;
}
#listado{
    justify-content: left !important;
    align-items: left !important;
}
.texto1{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    vertical-align: middle;
    padding-left: 25%;
    padding-right: 25%;
}
.listado{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    vertical-align: middle;
    padding-left: 25%;
    padding-right: 25%;
}
.texto1 h2{
    font-family: proxima-nova,sans-serif;
    font-size: 4.2em;
    font-style: normal;
    font-weight: 300;
    text-transform: none;
    line-height: 1.1500000000000001;
    letter-spacing: normal;
    color: rgba(0,0,0,1);
    text-align: left;
}
.texto1 p{
    font-family: proxima-nova,sans-serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 300;
    text-transform: none;
    line-height: 1.6;
    letter-spacing: normal;
    color: rgba(17,26,11,1);
}

.imagen-alumnos{
    color: white;
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-image: url(../images/\ COLE-Frente-CHICOS.png);    
}
.collage-alumnos{
    color: white;
    width: 50%;
    height:50vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center center;
    background-image: url(../images/Cole-Collage-2.jpg);    
    display: inline-block;
}
.collage-alumnos-2{
    color: white;
    width: 50%;
    height:50vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center center;
    background-image: url(../images/Cole-Collage-1.jpg);  
    display: inline-block;

}
.becas{
    color: white;
    width: 100%;
    height:100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center center;
    background-image: url(../images/beca.jpg);    
}
.cens{
    color: white;
    width: 100%;
    height:100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center center;
    background-image: url(../images/secundario-incompleto.jpg);    
}
.ancho{
    width: 100% !important;
    
}
.boton{
    text-align: center;
}
.boton1{
    background-color: white !important;
    border-radius: 0.2em;
    font-size: 1.4em;
    padding-top: 5px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 5px;
    color: black;
    border: solid 1px black;
    line-height: 1.35;
}
.boton1:hover{
    background-color: #f5f5f5 !important;
    transition: 0.15s;
}
.entrada{
    font-size: 1.3em;
    margin: 20px 0% 0px 0%;
    width: 45%;
    vertical-align: middle;
    color: rgb(100,100,100);
    padding-left: 10px;
    display: inline-block;
}
.form{
    margin-bottom: 2%;
}  
.logo-colegio{
    width: 100%;
    height:25vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center center;
    background-image: url(../images/avellaneda\ logo-02.jpg);    
    display: inline-block;    
}
.direccion{
    text-align: center;
}
.direccion a{
    text-decoration: none;
    color: #333;
  }
.direccion a:hover{
    color: black!important;
  
  }




@media all and (max-width: 1024px){ 
    body{
          font-size: 10px !important;
        }
    .imagen-principal{
        background-size: cover;
        width: 100%;
        height:300px;
    }
    .imagen-principal2{
        height: 80vh;
    }
    .imagen-alumnos {
        background-size: contain;
        height:200px;
    }    
    .collage-alumnos{
        width: 100%;
        height: 250px;
    }
    .collage-alumnos-2{
        width: 100%;
        height: 250px;
    }
    .becas{
        width: 100%;
        height: 450px;
    }
    .cens{
        width: 100%;
        height: 450px;
    }
    .texto1{
        padding-left: 2%;
        padding-right: 2%;
    }
    .listado
    {
        padding-left: 2%;
        padding-right: 2%;
    }
    .boton1{
        font-size: 1.6em;
        
    }
    .form{
        width: 100%;       
    }
    .entrada{
        width: 90%;
    }
}
